# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------
# Virtual Environment
# ----------------------
venv/
env/
ENV/

# ----------------------
# Environment Variables
# ----------------------
.env

# ----------------------
# Local User Data
# ----------------------
user_profiles/

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Distribution / Build
# ----------------------
build/
dist/
*.egg-info/

# ----------------------
# Testing
# ----------------------
.coverage
htmlcov/
.pytest_cache/